<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>ERROR</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"	crossorigin="anonymous">
<link rel="stylesheet"	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"	crossorigin="anonymous">
</head>
<body>
	<div class="col-md-10">
						<h2 th:if="${auditories_getall_error}" th:utext="${auditories_getall_error}" class="error" ></h2>
						<h2 th:if="${auditory_get_error}" th:utext="${auditory_get_error}" class="error" ></h2>
						<h2 th:if="${auditory_update_error}" th:utext="${auditory_update_error}" class="error" ></h2>
						<h2 th:if="${auditory_create_error}" th:utext="${auditory_create_error}" class="error" ></h2>
						<h2 th:if="${auditory_delete_error}" th:utext="${auditory_delete_error}" class="error" ></h2>
						</div>
</body>

</html>