<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>University</title>
</head>
<body>
	<h1>University home page</h1>
</body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="nav-link active" aria-current="page" href="/courses">Course</a>
		<a class="nav-link active" aria-current="page" href="/groups">Group</a>
		<a class="nav-link active" aria-current="page" href="/students">Student</a>
		<a class="nav-link active" aria-current="page" href="/professors">Professor</a>
		<a class="nav-link active" aria-current="page" href="/subjects">Subject</a>
		<a class="nav-link active" aria-current="page" href="/timetables">Time Table</a> 
		<a class="nav-link active" aria-current="page" href="/auditories">Auditory</a>
	</div>
</nav>
</html>
